
<div class="col-md-4">
  <h2><%=@interview.title %></h2>
  <h3><%=@interview.project.name%></h3>

  <h4><%= @interview.date %> </h4>

  <p><%= @interview.description %> </p>


<table class="table">
  <tr>
    <th><%=link_to "Back", root_path, class: 'btn nav-colour font-colour' %></th>
    <th><%=link_to "Edit", edit_interview_path(@interview),class: 'btn nav-colour font-colour'  %></th>
    <th><%=button_to "Delete", interview_path, method: :delete, data: {confirm:"Are you sure"}, class: 'btn nav-colour font-colour btnpadding' %></th>
  </tr>
</table>






</div>


<div class="row">
  <div class="col-md-6">
    <div class="note">
      <%=render @interview.notes%>
    </div>
    <div >
      <%= render 'notes/form' %>
    </div>
  </div>
</div>


