<!DOCTYPE html>
<html>
  <head>
    <title>InsightsLab1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-default nav-colour">

    <div class="container">
      <div class="navbar-header">
        <% if user_signed_in? %>
        <%=link_to "Home", root_path, class: "navbar-brand " %>
          <%end%>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <span class="navbar-text"> Logged in as <%=current_user.email %></span>
        <%else %>
          <li> <%=link_to "Sign up", new_user_registration_path%></li>
          <%end %>

        <% if user_signed_in? %>
          <li><%=link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <%else %>
          <li><%=link_to "Login", new_user_session_path %></li>
        <%end %>
      </ul>


    </div>

  </nav>


  <div class="container">
  <body>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>

  </body>
  </div>

</html>
